
body {
    font-family: sans-serif;
    background-color: #f7d4d4;
    padding: 2rem;
}

h1 {
    text-align: center;
}

form {
    background: rgb(236, 236, 190, 0.8);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px #919090;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

input, button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    
}

button{
    background-color: #ca8484;
}

#libros {
    background: rgb(236, 236, 190, 0.8);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px #838282;
}

.libro {
    border-bottom: 1px solid #a5a4a4;
    padding: 1rem 0;
}

button {
    margin-right: 0.5rem;
}
